/**
 * =================================================================================
 * VARIABLES
 * =================================================================================
 */

:root {
    --rajdhani-font: 'Rajdhani', sans-serif;
    --roboto-condensed-font: 'Roboto Condensed', sans-serif;
    --theme-default-color: #00bcd4;
    --text-default-color: #4e4e4e;
    --background-default-color: #fff;
    --border-default-color: #cecece;
}

/**
 * =================================================================================
 * BASE
 * =================================================================================
 */

*,
*::before,
*::after {
    box-sizing: border-box !important;
    text-rendering: optimizeLegibility !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004) !important;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/**
 * =================================================================================
 * HEADER
 * =================================================================================
 */

.header {
    background: var(--background-default-color);
    box-shadow: 0px 1px 2px 0px rgba(206, 206, 206, 1);
    height: 64px;
    width: 100%;

}

.header__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    width: 100%;
}

.header__stick {
    display: flex;
}

.header__aside-btn {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px;
}

.aside-btn__icon {
    color: var(--theme-default-color);
    font-size: 22px;
}

.header__logo {
    align-items: center;
    display: flex;
    height: 44px;
    margin: 0 0 0 8px;
}

.logo__heading {
    color: var(--text-default-color);
    font-family: var(--rajdhani-font);
    font-size: 22px;
    font-weight: 700;
}

.header__user-nav {
    align-items: center;
    display: flex;
    height: 44px;
}

.user-nav__wrapper {
    display: flex;
}

.user-nav__icons {
    align-items: center;
    display: flex;
    height: 28px;
    justify-content: center;
    margin: 0 8px 0 0;
    width: 28px;
}

.user-nav__icons:last-child {
    margin: 0 20px 0 0;
}

.user-nav__icon {
    color: #424242;
    font-size: 16px;
}

.user-nav__profile-img {
    background: var(--theme-default-color);
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

/**
 * =================================================================================
 * INDEX (MAIN)
 * =================================================================================
 */

.main {
    width: 100%;
    margin: 30px 0 110px 0;
}

.section {
    margin: 0 auto;
    padding: 0 10px 0 10px;
    width: 100%;
}

.section__heading {
    padding: 7px 0 7px 0;
    font-family: var(--rajdhani-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--text-default-color);
    margin: 0 0 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.card {
    background: var(--background-default-color);
    border: 1px solid var(--border-default-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
}

.card__amount {
    font-family: var(--rajdhani-font);
    font-weight: 700;
    font-size: 27px;
    color: var(--text-default-color);
    margin: 0 0 7px 0;
}

.card__description {
    font-family: var(--roboto-condensed-font);
    font-weight: 400;
    font-size: 15px;
    color: var(--text-default-color);
}

.card__icon {
    height: 60px;
    width: 60px;
    background: var(--theme-default-color);
    opacity: .61;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon-inside {
    color: #fff;
    font-size: 32px;
}

/**
 * =================================================================================
 * FOOTER
 * =================================================================================
 */

.footer {
    background: var(--background-default-color);
    border-top: 1px solid var(--border-default-color);
    margin-top: auto;
    padding: 14px 0 14px 0;
    width: 100%;
}

.footer__wrapper {
    margin: 0 auto;
    padding: 0 10px 0 10px;
    text-align: center;
    width: 100%;
}

.copy {
    color: var(--text-default-color);
    font-family: var(--roboto-condensed-font);
    font-size: 15px;
    font-weight: 400;
}

.copy__link {
    color: var(--theme-default-color);
    text-decoration: none;
}

.copy__link:hover {
    text-decoration: underline;
}

/**
 * =================================================================================
 * MEDIA QUERIES (MOBILE FIRST)
 * =================================================================================
 */

@media screen and (min-width: 416px) {

    .cards {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .card__amount {
        font-size: 23px;
    }

    .card__icon {
        display: none;
    }
}

@media screen and (min-width: 514px) {
    .card__icon {
        display: flex;
    }
}

@media screen and (min-width: 592px) {
    .card__amount {
        font-size: 27px;
    }
}

@media screen and (min-width: 768px) {

    .header__wrapper,
    .section,
    .footer__wrapper {
        padding: 0 20px 0 20px;
    }
}

@media screen and (min-width: 816px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card__amount {
        font-size: 24px;
    }
}

@media screen and (min-width: 824px) {
    .card__amount {
        font-size: 27px;
    }
}

@media screen and (min-width: 1024px) {
    .header__wrapper,
    .section, 
    .footer__wrapper {
        padding: 0 30px 0 30px;
    }
}

@media screen and (min-width: 1200px) {

    .header__wrapper,
    .section,
    .footer__wrapper {
        max-width: 1200px;
        padding: 0 40px 0 40px;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}